@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
//this design colors
:root{
--clr-cream:hsl(30, 38%, 92%);
--clr-white: hsl(0, 0%, 100%);
--clr-green: hsl(158, 33%, 38%);
//primary font
--primary-font: "Montserrat", sans-serif;
--secondary-font: "Fraunces", sans-serif;
}