.btn{
    background-color: var(--clr-green);
    display: block;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.btn img{
    margin-left: 10px;
    display: inline;
    width: 14px;
    height: auto;
}
